body{
  background-color: rgb(41, 67, 88);
}
.toDoAPP{
  padding: 0 15px 15px;
  text-align: center;
  color: white;
}

.container{
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 900px;
  min-height: 450px;
  background-color: rgb(80, 109, 139);
  border-radius: 10px;
}
hr{
  margin: 0;
}